<!DOCTYPE html>

<head>
    <title>Dad Joke Wednesday</title>

    <link rel = 'stylesheet' href="/public/style.css" type ="text/css"/>
</head>

<body>
    <div>
        <h2>Joke - List</h2>
        <div>
            <form action = "/" method = "POST">
                <button type = 'submit'>
                    <span>GETJOKE</span>
                    
                </button>
            </form>


            <form action = "/" method = "POST" class = "joke-header">
                <input type="text" name="content">
                <button type="submit">
                    <span> ✅ </span>
                </button>
            </form>

            <ul>
                <% jokeList.forEach( details => { %>
                        <li >
                            <div><%= details.content %> </div>
                            <a href = "/edit/<%= details._id %>" class = "edit">
                                <span> 📝 </span>
                            </a>
                            <a href="/remove/<%= details._id %>" class = "remove">
                                <span> ❌ </span>
                            </a>
                        </li>
            
                <% })%>  
            </ul>
        </div>
    </div>
</body>