<!DOCTYPE html>

<head>
    <title>Dad Joke Wednesday</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="../node_modules/milligram/dist/milligram.min.css" />
    <link rel="stylesheet" href="https://milligram.io/styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href = "../public/style.css" />
</head>

<body>
    <div class = 'joke-container'>
        <h1> &#128104 Dad Jokes</h1>
        <div >
            <div>
                <form action = "/" method = "POST" class = 'inline-form'>
                    <input type="text" name="content" class = 'inline-elements' placeholder="compose a new joke">
                    <button class = 'button inline-elements' type="submit" style = "margin-left: 5px;">
                        Submit
                    </button>
                </form>
                <form action = "/" method = "POST">
                    <button type = 'submit'>
                        Add a Random Joke
                    </button>
                </form>

            </div>

            <h2>Jokes:</h2>
            <ul>
                <% jokeList.forEach( details => { %>
                        <li >
                            <div class = 'inline-jokes'>
                                <div class = 'inline-content'>
                                    <%= details.content %> 
                                </div>
                                <div class ='edit-remove'>
                                    <button onclick = "window.location.href = '/edit/<%= details._id%>';" 
                                            class = 'button button-small button-outline' 
                                            class = 'edit'>
                                            Edit
                                    </button> 
                                    <button onclick = "window.location.href = '/remove/<%= details._id%>';" 
                                            class = 'button button-small button-outline' 
                                            class = 'remove'>
                                            Delete 
                                    </button> 
                                </div> 
                            </div>
                           
                        </li>
                <% })%>  
            </ul>
        </div>
    </div>
</body>