<!DOCTYPE html>

<head>
    <title>Dad Joke Wednesday</title>

    <link rel = 'stylesheet' href="/public/style.css" type ="text/css"/>
</head>

<body>
    <div class = "joke-container">
        <h2>Joke - List</h2>
        <div class = "jokes">
            <form action = "/" method = "POST" class = "joke-header">
                <input type="text" name="content">
                <button type="submit"><span></span></button>
            </form>

            <ul class="jokes-list">
                <li class = "jokes-list-item">
                    <div class = "jokes-list-item-name">Sample Joke</div>
                    <a href = "" class = "edit">
                        <span></span>
                    </a>
                    <a href="" class = "remove">
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>