<!DOCTYPE html>

<head>
    <title>Dad Joke Wednesday</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="../node_modules/milligram/dist/milligram.min.css" />
    <link rel="stylesheet" href="https://milligram.io/styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>

<style>
    body{
        padding: 20px;
        max-width: 600px; 
        margin: auto; 
    }
    li {
        list-style-type: none;
    }
</style>

<body>
    <div class = 'joke-container'>
        <h2>Dad Jokes</h2>
        <div>
            <form action = "/" method = "POST">
                <button type = 'submit'>
                    Get Random Joke
                </button>
            </form>


            <form action = "/" method = "POST">
                <input type="text" name="content">
                <button class = 'button' type="submit">
                    Add new Joke
                </button>
            </form>

            <ul>
                <% jokeList.forEach( details => { %>
                        <li >
                            <div><%= details.content %> </div>
                                
                                <button onclick = "window.location.href = '/edit/<%= details._id%>';" class = 'button' class = 'edit'>
                                    Edit
                                </button> 
                                  

                                <button onclick = "window.location.href = '/remove/<%= details._id%>';" class = 'button' class = 'remove'>
                                    Remove 
                                </button> 
                            
                        </li>
                <% })%>  
            </ul>
        </div>
    </div>
</body>