body{
    padding: 20px;
    max-width: 800px; 
    margin: auto; 
}
li {
    list-style-type: none;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    margin-left: 0.5rem;
  }

.inline-form {
      display: flex;
      flex-flow: row;

  }

.inline-elements {
      margin: 0px 0px; 
  }

.inline-jokes {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    /* border: 2px solid black; */
}

.edit-remove {
    display: flex;
    width: 150px;
    max-width: 150px;
    /*border: 2px solid red;*/
    justify-content: flex-end;
}

.inline-content {
    width: 650px;
    max-width: 650px;
    /*border: 2px solid purple;*/
}

